[Desktop Entry]
Name=Hardware Drivers
GenericName=Hardware Drivers
Comment=Install or remove hardware drivers
Exec=/usr/bin/doflicky-ui
Terminal=false
Type=Application
StartupNotify=false
Icon=jockey
Categories=GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
Keywords=Driver;GPU;Hardware;Preferences;Install;Uninstall;Program;Software;App;Store;
